body{
    display:flex;
    height:100vh;
}
.content-align{
    margin:auto;
    display: flex;
    flex-direction: row-reverse;
}
.fa{
    font-size:48px;
    position:relative;
    overflow:hidden;

}
.star-1:hover ~ .fa, .star-1:hover{
    color:gold;
}
.star-2:hover ~ .fa, .star-2:hover{
    color:gold;
}
.star-3:hover ~ .fa, .star-3:hover{
    color:gold;
}
.star-4:hover ~ .fa, .star-4:hover{
    color:gold;
}
.star-5:hover{
    color:gold;
}


