body{
    background-color: black;
    display:flex;
    height:100vh;
}
.fa{
    font-size:32px;
    animation:pulse 2s infinite linear;
    color:white;

}

.card{
    margin:auto;
    padding:25px;
    position:relative;
    border-radius:10px;
    background-image: linear-gradient(to right bottom ,red, orange,blue, green, yellow ,gold);
    box-shadow:1px 1px 20px rgba(255, 255, 255, 0.61);        
    
    animation:turn 2s infinite linear;
    animation-delay:1s;
    transition:1s;

    
}



@keyframes turn {
    0%, 50%{
        transform:rotateY(0);
        box-shadow: none;
    }
    25%{
        transform:rotateY(180deg);   
    }
    75%{
        box-shadow:1px 1px 20px rgba(255, 255, 255, 0.493);   
    }
    100%{
        box-shadow:none;
    }
    
}
@keyframes pulse {
    25%{
        text-shadow:3px 3px 20px white;
        
    }
    50%, 75%{
        text-shadow:none;

    }
    
}